$white: #ffffff;
$milk: rgba(250, 249, 247, 0.8);
$pink: #F5E3E7;
$medium-pink: rgb(248, 244, 244);
$light-pink: rgb(250, 250, 250);;
$navy: #2330FC;

$black: #000000;
$light-black: #333333;
$grey: #767676;
$medium-grey: rgba(0, 0, 0, 0.335);
$medium-light-grey: rgba(0, 0, 0, 0.15);
$light-grey: #ECECEC;
$lightest-grey: rgb(250, 250, 250);
$red: rgb(235, 48, 48);
