@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,400i,600,700&display=swap');

$serif: 'Lora', Georgia, Times, "Times New Roman", serif;
$sans-serif: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;

body {
  font-family: $sans-serif;
  font-style: normal;
  font-size: 100%;
  background-color: $white;
  color: $black;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

h1 {
  font-weight: 700;
  color: $black;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  color: $black;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

a {
  color: $navy;
  cursor: pointer;
  text-decoration: none;
}
