#product_index_container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 8px;
  
  min-width: 500px;
  max-width: 800px;
  // background-color: rgb(240, 240, 240);
  
  @import "product_title_bar.scss";

  .product_card_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
    padding-top: 2em;

  }

  .product_card {
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: top;

    box-sizing: border-box;
    padding: 0px 14px;
    margin: 28px 0px 0px;
    width: 25%;
    height: 100%;

    border-radius: 3px;
    overflow: hidden;

    .product_card_image {
      background-color: $medium-pink;
      height: 250px;
      // width: 185px;
      background-size: cover;
      // width: 100%;
      transition: opacity 0.25s ease-in-out 0s;
      background-position: center center;
    }

    .product_card_info {
      display: flex;
      flex-direction: column;
      padding: 16px 16px 0px;
      box-sizing: border-box;
      background-color: $light-pink;

      .product_name {
        color: $black;
        font-size: 1em;
        font-weight: bold;
      }
      
      .product_tagline {
        color: $black;
        font-size: 0.75em;
      }
      
      a:hover {
        .product_name, .product_tagline {
          color: $navy;
          text-decoration: underline;
        }
      }

      button {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 16px 0px;
        padding: 7px 6px;
        width: 100%;
        height: auto;
        min-height: 40px;
        
        color: $black;
        background-color: $white;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.75em;

        box-shadow: none;
        -webkit-appearance: none;
        cursor: pointer;

        max-width: unset;
        transition: all 0.15s linear 0s;
        
        border: 1px solid $black;
        border-radius: 3px;
      }
    }
  }
  
}