#product_index_container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 8px;
  
  min-width: 600px;
  max-width: 70%;
  // background-color: rgb(240, 240, 240);
  
  @import "product_title_bar.scss";
  
}