#product-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  min-width: 500px;
  max-width: 90%;

  // temp
  padding-bottom: 350px;

  #product-show-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;

    #product-show-left-container{
      padding-left: 16px;
      padding-right: 16px;
      max-width: 500px;
      flex-basis: 50%;

      #breadcrumbs-container {
        margin-left: 15%;
        
        margin-bottom: 0.5em;
        font-size: 0.85em;
        text-transform: lowercase;
    
        a {
          color: $black;
    
          &:hover {
            color: $navy;
            cursor: pointer;
          }
          &::after {
            content: "  /  ";
            white-space: pre;
          }
        }
    
        ul {
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
        }
      }

      #image-carousel {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
        
        #carousel-main-image {
          background-color: $medium-pink;
          width: 411px;
          height: 547px;
          
          img {
            height: inherit;
            width: inherit;
          }
        }
  
        #carousel-nav {
          
          ul {
            display: flex;
            flex-direction: column;
            left: 16px;
            width: 40px;
            border: 1px solid black;
          }
  
          li {
            width: 35px;
            height: 35px;
            background-size: 40px;
            background-color: $medium-pink;
            margin: 10px;
            border: 2px solid $white;
            box-shadow: 0 0 0px 2px $white;
            border-radius: 100%;
  
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              width: inherit;
              height: inherit;
              overflow: hidden;
              border-radius: 100%;
            }
  
            &:hover {
              border: 2px solid $white;
              box-shadow: 0 0 0px 2px $navy;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    #product-show-right-container {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      max-width: 500px;
      min-width: 400px;
      flex-basis: 50%;

      h1 {
        margin: 0px 0px 4px;
      }

      strong {
        padding-right: 10px;
      }

      #product-under-title {
        display: flex;
        flex-direction: row;
        
        span {
          line-height: 1em;
          margin: 0px 4px 4px 0px;
        }
      }
      
      #product-show-description {
        h2 {
          margin: 16px 0px;
        }

        #what-it-is {
          margin-bottom: 1em;
        }
        
        #why-its-special {
          margin: 1em 0em;
        }

        ul {
          padding-left: 3em;

          li {
            list-style-type: disc;
            padding-bottom: 3px;
          }
        }

        #good-to-know {
          margin-top: 1em;
        }
      }

      #tags-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1.2em 0;
        box-sizing: border-box;

        .tag {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;
          
          svg {
            max-width: 42px;
            max-height: 42px;
          }

          p {
            text-transform: capitalize;
            font-size: 0.95em;
          }
        }
      }

      .add-to-cart-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;

        .adding-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;

          border-radius: 3px;
          width: 72px;
          padding: 6px 0;
          margin-right: 10px;
          height: 40px;
          
          background-color: $white;
          border: 1px solid $black;
          text-align: center;

          .minus-btn, .plus-btn, .num-display {
            flex: 1 1;
            text-align: center;
          }

          button {
            cursor: pointer;
          }
        }

        .add-to-bag-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-height: 40px;
          width: 100%;
          margin: 16px 0px;
          padding: 7px 6px;
          
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          color: $white;
          
          background-color: $black;
          border-radius: 3px;
          flex: 1 1 0%;
          
          cursor: pointer;
          transition: all 0.15s linear 0s;

            &:hover {
              background-color: $light-black;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px, rgba(0, 0, 0, 0.5) 0px 0px 0.5px;
            }
        }
      }
      
    }
  }
}